<!-- <header>
  <nav>
    <ul>
      <li><a routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page">CounterApp <span class="counter-length">{{ counterLength }}</span></a></li>
      <li><a routerLink="/vatavaran" routerLinkActive="active" ariaCurrentWhenActive="page">Weather</a></li>
    </ul>
  </nav>
</header> -->

<mat-toolbar color="primary" style="justify-content: space-between;">
  <a mat-button routerLink="/counter" class="header-link">CounterApp <span class="counter-length">{{ counterLength }}</span></a>
  <a mat-button routerLink="/vatavaran" class="header-link">Weather</a>
</mat-toolbar>

